.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  background-color: white;
  z-index: 200;
}

.sidebar-link {
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 4px;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(240, 240, 240);
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 5px;
}

.sidebar-link div {
  font-size: 10px;
}